@model Usuario

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="row justify-content-center text-center">
    <h1 class="display-4">Inicio de Sesión</h1>
    <form class="col-6 text-center mt-2" method="post" asp-action="Index">
        <div class="form-outline mb-4">
            <label class="form-label" for="nombre">Usuario</label>
            <input asp-for="Nombre" type="text" id="nombre" name="nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Contraseña</label>
            <input asp-for="Contrasena" type="password" id="password" name="password" class="form-control" />
            <span asp-validation-for="Contrasena" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar Sesión</button>
    </form>
</div>