@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Modulo de Inventario</h1>
    <p>Donde podras administrar los movientos del inventario :)</p>
</div>

