@model Producto

@{
    List<SelectListItem> lista = ViewBag.ListaCategorias;
    var imgsrc = "";
}



<div class="container p-3">
    <form class="form" method="post" asp-action="View" enctype="multipart/form-data">
        <div class="border p-3 mt-4">
            <div class="row pb-2 mb-3">
                <h2 class="text-primary pb-2 border-bottom border-dark">Actualizar Producto</h2>
            </div>
            <div class="mb-3">
                <label asp-for="Codigo">Código</label>
                <input asp-for="Codigo" class="form-control" disabled/>
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" disabled/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form-control" disabled/>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stock"></label>
                <input asp-for="Stock" class="form-control" disabled />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Precio_Entrada">Precio de Entrada</label>
                <input asp-for="Precio_Entrada" class="form-control" disabled/>
                <span asp-validation-for="Precio_Entrada" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IDCategoria">Categoría</label>
                <select asp-for="IDCategoria" asp-items="lista" class="form-control" disabled></select>
                <span asp-validation-for="IDCategoria" class="text-danger"></span>
            </div>
           
            @if (@Model.Imagen_Producto != null)
            {

            var base64 = Convert.ToBase64String(@Model.Imagen_Producto);
            imgsrc = String.Format("data:image/jpeg;base64,{0}", base64);
            }

            <div class="mb-3">
                <label asp-for="Imagen_Producto">Imagen del Producto</label>
                <img style="max-width:400px" src="@imgsrc">
                <span asp-validation-for="Imagen_Producto" class="text-danger"></span>
            </div>
            <input asp-for="ID_Producto" type="hidden" class="form-control" />
           
            <a asp-controller="Producto" asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-return-left"></i> Regresar a la lista</a>
        </div>
    </form>

    @section Scripts {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
    </div>